.wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  padding: 24px 38px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  z-index: 300;
  pointer-events: none;
  box-sizing: border-box;
}

.buttonAdd {
  transition: all ease 0.2s;
  background-color: #4f46e5;
  padding: 12px;
  border-radius: 100%;
  color: white;
  font-size: 24px;
  cursor: pointer;
  pointer-events: all;
  box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAdd:hover {
  background-color: #3730a3;
  box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}

.buttonAdd:active {
  transform: scale(0.95);
}

.buttonDelete {
  background-color: #dc2626;
  padding: 12px;
  border-radius: 100%;
  color: white;
  font-size: 24px;
  cursor: pointer;
  pointer-events: all;
  box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
  transition: all ease 0.2s;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonDelete:hover {
  background-color: #b91c1c;
  box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}

.buttonDelete:active {
  transform: scale(0.95);
}

.buttonDeleteHidden {
  transform: translateY(-100px);
  background-color: #dc2626;
  padding: 12px;
  border-radius: 100%;
  color: white;
  font-size: 24px;
  cursor: pointer;
  pointer-events: all;
  box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
  transition: all ease 0.2s;
}

.toolbar {
  pointer-events: all;
  position: absolute;
  top: 86px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #c4c4c4;
  border-radius: 6px;
  box-shadow: 1px 1px 11px -6px rgba(0, 0, 0, 0.75);
  padding: 12px;
  transition: all ease 0.2s;
}

.label {
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 18px;
  color: #27272a;
  padding: 10px;
  text-align: center;
}

.propertyPanel {
  padding: 10px;
}

.column {
  float: left;
  width: 33.33%;
  margin: 2px;
  text-align: right;
  margin-right: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.titleBold {
  font-weight: bold;
}